<div class="page-view">
  <div class="header-view">
    <div class="toolbar-view">
      <span
        nz-icon
        nzType="global"
        nzTheme="outline"
        nz-dropdown
        [nzDropdownMenu]="menu"
      ></span>
      <nz-dropdown-menu #menu>
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="onSwitchLanguage('zh')">中文</li>
          <li nz-menu-item (click)="onSwitchLanguage('en')">English</li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
</div>
